/* Global app styles */
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.top-screen {
  height: 70vh;   
  overflow: auto;
}

.bottom-screen {
  height: 30vh; 
  background: #fcd97b;
  display: flex;
  justify-content: center;
  align-items: center;
}
