/* Global app styles */
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.top-screen {
  height: 70vh;
  overflow: auto;
  background: #fcd97b;
  display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
}

.bottom-screen {
  height: 30vh;
  background: #fcd97b;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 4:3 centered display area */
.ipad-ratio {
  position: relative;
  border: orange solid 2px;  /* optional: helps visualize */
  aspect-ratio: 4 / 3;   /* clean modern way */
  width: 100%;           /* max width available */
  max-width: 90vh;       /* ensures height fits (4:3 based on top-screen height) */

  background: #fff;      /* optional: helps visualize */
}
